In [38]:
from warnings import filterwarnings
filterwarnings('ignore')

In [39]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

%matplotlib inline

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/neerajprasad209/Dataset/main/Mall_Customers.csv')

In [41]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [42]:
df['Gender'] = df['Gender'].map({'Male': 0, 'Female':1})

In [43]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       0   19                  15                      39
1           2       0   21                  15                      81
2           3       1   20                  16                       6
3           4       1   23                  16                      77
4           5       1   31                  17                      40

In [44]:
df.drop('CustomerID',axis=1,inplace=True)

In [45]:
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       0   19                  15                      39
1       0   21                  15                      81
2       1   20                  16                       6
3       1   23                  16                      77
4       1   31                  17                      40

# -------- *Seperating the Independent And Dependent Variable* --------

In [46]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [47]:
X.head()

   Gender  Age  Annual Income (k$)
0       0   19                  15
1       0   21                  15
2       1   20                  16
3       1   23                  16
4       1   31                  17

In [48]:
y.head()

0    39
1    81
2     6
3    77
4    40
Name: Spending Score (1-100), dtype: int64

# ------ *Perfom Train Test Split* ------

In [49]:
from sklearn.model_selection import train_test_split

Xtrain,Xtest, ytrain,ytest = train_test_split(df,y, test_size=0.20, random_state=0)

In [50]:
Xtrain.shape, ytrain.shape

((160, 4), (160,))

In [51]:
Xtest.shape, ytest.shape

((40, 4), (40,))

# ------- *Traning the Model* -------

In [52]:
from sklearn.svm import SVR

model = SVR(kernel='linear')

In [53]:
model.fit(Xtrain,ytrain)

SVR(kernel='linear')

In [54]:
model.coef_

array([[ 3.84875423e-03, -3.69183496e-05, -8.72119321e-05,
         9.97857908e-01]])

In [55]:
ypred = model.predict(Xtest)

In [61]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print(f"Mean Absolute Error : \n{mean_absolute_error(ytest,ypred)}")
print("\n----------------------------------------------------------------------")

print(f"Mean Squared Error : \n{mean_squared_error(ytest,ypred)}")
print("\n----------------------------------------------------------------------")

print(f"Root Mean Squrared Error: \n{np.sqrt(mean_squared_error(ytest,ypred))}")
print("\n----------------------------------------------------------------------")

print(f"R2 Score : \n{r2_score(ytest,ypred)*100}")

Mean Absolute Error :
0.050125332209710605

----------------------------------------------------------------------
Mean Squared Error :
0.0035378714950910785

----------------------------------------------------------------------
Root Mean Squrared Error:
0.05948000920553963

----------------------------------------------------------------------
R2 Score :
99.99953294809238